* {
    font-family: 'Lucida Sans';
}

body {
    background-color: black;
    color: white;
}


#headline {
    box-sizing: border-box;
    width: auto;
    background-color: darkslategrey;
    padding: 10px;
    border: 2px solid white;
}

.links:hover {
    color:darkslateblue;
}

.eggs {
    width: 5%;
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 1px;
}
.certs, .links {
    font-size: larger;
}

#name:hover {
    color: blue;
}

#email {
    color: white;
}
